<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/solid.js" integrity="sha384-/BxOvRagtVDn9dJ+JGCtcofNXgQO/CCCVKdMfL115s3gOgQxWaX/tSq5V8dRgsbc" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/fontawesome.js" integrity="sha384-dPBGbj4Uoy1OOpM4+aRGfAOc0W37JkROT+3uynUgTHZCHZNMHfGXsmmvYTffZjYO" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/regular.min.css">
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/solid.min.css">
    <title>@ViewBag.Title Bike Stores</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top ">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("Index","Home")">BikeStores</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">

                <ul class="navbar-nav me-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Store")">
                            Stores
                            @*<span class="visually-hidden">(current)</span>*@
                        </a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Staffs", "Staff")">Staffs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "cpb")">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("CategoryDetails", "cpb")">Category</a>
                        </li>



                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("BrandDetails", "cpb")">Brands</a>
                        </li>

                    }

                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    @RenderBody()
    <hr />
    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/Content/css")
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Content/fontawesome/font-awesome.css")
</body>
</html>
<style>
    .navbar {
        height: 40px;
    }
</style>
