@using WebApplication1.ViewModel
@model StoreModel
@{
    ViewBag.Title = "Edit";
}

<div>
  <h1>EDIT</h1>
</div>
@using (Html.BeginForm("Edit", "Store", FormMethod.Post))
{
<table class="center">
    <tr class="table-info">

        <td> @Html.HiddenFor(x => x.StoreId)</td>
    </tr>
    <tr>
        <td>Store Name: </td>
        <td>@Html.TextBoxFor(m => m.StoreName)</td>
    </tr>
    <tr>
        <td>Phone: </td>
        <td>@Html.TextBoxFor(m => m.Phone)</td>
    </tr>
    <tr>
        <td>Email: </td>
        <td>@Html.TextBoxFor(m => m.Email)</td>
    </tr>
    <tr>
        <td>Street: </td>
        <td>@Html.TextBoxFor(m => m.Street)</td>
    </tr>
    <tr>
        <td>City: </td>
        <td>@Html.TextBoxFor(m => m.City)</td>
    </tr>
    <tr>
        <td>State: </td>
        <td>@Html.TextBoxFor(m => m.State)</td>
    </tr>
    <tr>
        <td>Zip Code: </td>
        <td>@Html.TextBoxFor(m => m.ZipCode)</td>
    </tr>
    @*<tr>
            <td colspan="2"><input type="submit" value="Submit Form" /></td>
        </tr>*@
</table>
    <div>
        <p align="center">
            <button id="btnsubmit" type="submit" class="btn btn-success" value="Add">SUBMIT</button>
        </p>
    </div>
}
<script type="text/javascript">
    $('#btnsubmit').click(function () {
        alert('Successfully Submitted');
    });
</script>
<style>
    table.center {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
</style>